<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{selectedPub.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong class="capitalize">{{ selectedPub.location }}</strong><br>
    <strong class="capitalize">{{ selectedPub.url }}</strong><br>
    <strong class="capitalize">{{ selectedPub.id }}</strong><br>
    <strong class="capitalize">{{ selectedPub.icon }}</strong><br>

  </div>
</ion-content>
